.title {
  padding: 0px 10px;
  min-height: 30px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.editor {
  height: 500px;
  overflow-y: auto;
}

.submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-top: 1px solid rgba(0,0,0,0.2);
}
