.editor {
  display: flex;
  flex-direction: column;
  height: 100%;

  .operator {
    padding: 0 5px;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    height: 30px;
    background-color: rgba(0,0,0,0.2);
    flex: none;

    .mode {
      span[role="img"]{
        margin: 0 5px;
      }
    }
  }

  .inputer {
    display: flex;
    height: calc(100% - 30px);
    .left {
      flex: 1 1;
      width: 0;
      height: 100%;
      overflow: auto;
      transition: flex 0.5s;
    }

    .right {
      flex: 1 1;
      width: 0;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.1);
      padding: 5px;
      transition: flex 0.5s;
    }
  }


}

.activate {
  color: #1890ff !important;
}

.none {
  flex: 0 0 !important;
  padding: 0px !important;
}
